# Dependencies
node_modules/

# Angular build output
dist/
.angular/

# Environment files
src/environments/environment.ts
src/environments/environment.development.ts
src/environments/environment.prod.ts

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Cache
.cache/
.nx/
coverage/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

# Local environment
.env
.env.*
!.env.example